.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  background-color: rgb(67, 67, 194);
}

.column {
  border: 0px solid black;
  padding: 3px;

}



.icono {

  width: 20%;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 5px;

}

.tienda {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: aliceblue;

}

.container2 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  background-color: rgb(141, 141, 214);
}

.main {
  border: 0px solid black;
  padding: 3px;


}


.item {

  font-family: 'Open Sans', sans-serif;

}


.container3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.item2 {
  border: 0px solid black;
  padding: 10px;
}

.container4 {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.row {
  border: 0px solid black;
  padding: 0px;
  margin-bottom: 0px;
}

.row2 {
  border: 0px solid black;
  padding: 3px;
  margin-bottom: 0px;
  background-color: blue;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 20px;


}

.img {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.h3 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: rgb(97, 97, 97);
  font-size: 16px;
}

.footer-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.footer-bottom {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}



.img1 {
  width: 267px;
  height: 350px;
  justify-content: center;
  align-items: center;
  padding: 15px;
}